@import "tailwindcss"; 

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-sans: "open-sans", sans-serif;
  --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

